@{
    var users = ViewData["Users"] as List<User>;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "ExportUserDetails";
}


<table class="table table-bordered table-striped" style="width:100%; margin-top:30px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Birthdate</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in users)
            {
                <tr>
                    <td> @obj.Name </td>
                    <td> @obj.Surname </td>
                    <td> @obj.Email </td>
                    <td> @obj.PhoneNum </td>
                    <td> @obj.BirthDate </td>
                    <td> @obj.Role </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex">
    <a asp-controller="Administrator" asp-action="ExportUserDetailsASCSV" style="position: absolute;right:70px;" class="btn btn-light my-2 my-sm-0" >Export User</a>
</div>
