@{
    var requests = ViewData["MergeEmailRequest"] as List<MergeEmailRequest>;
    ViewData["Title"] = "MergeEmailRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var stateAccept = ViewData["stateAccept"] as Int32?;
    var stateRevert = ViewData["stateRevert"] as Int32?;
}
<div class="container p-3">

    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Current Email
                </th>
                <th>
                    Second Email
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in requests)
            {
                <tr>
                    <td> @obj.Name </td>
                    <td> @obj.Surname </td>
                    <td> @obj.Email </td>
                    <td> @obj.SecondEmail </td>

                    <td>
                        <div class="dropdown">
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Options</a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a asp-controller="Administrator" asp-action="MergeEmailRequestAccept" asp-route-id="@obj.UserId"
            class="dropdown-item mx-2 w-75"> <i class="bi bi-person-check"></i> Verify</a>
                                <a asp-controller="Administrator" asp-action="MergeEmailRequestRevert" asp-route-id="@obj.UserId"
            class="dropdown-item mx-2 w-75"> <i class="bi bi-trash-fill"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>





<div id="box-success-accept" class="alert alert-dismissible alert-success" style="visibility:hidden; position:fixed; top: 70px;
    right: 0px;
    width: 40%;
    z-index:9999;
    border-radius:0px">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Well done!</strong> The user's email request has been successfully accepted.
</div>

<div id="box-success-revert" class="alert alert-dismissible alert-success" style="visibility:hidden; position:fixed; top: 70px;
    right: 0px;
    width: 40%;
    z-index:9999;
    border-radius:0px">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Well done!</strong> The user's email request was successfully rejected.
</div>




<div id="box-fail-accept" class="alert alert-dismissible alert-danger" style="visibility:hidden; position:fixed; top: 70px;
    right: 0px;
    width: 40%;
    z-index:9999;
    border-radius:0px">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Oh snap!</strong> There was a problem accepting the user's mail request.
</div>

<div id="box-fail-revert" class="alert alert-dismissible alert-danger" style="visibility:hidden; position:fixed; top: 70px;
    right: 0px;
    width: 40%;
    z-index:9999;
    border-radius:0px">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Oh snap!</strong> There was a problem deleting the user's mail request.
</div>



@{
    if (stateAccept == 1)
    {
        <script>
            setTimeout(()=>{
                const box = document.getElementById("box-success-accept");

                box.style.visibility = "visible";
            },50);
            setTimeout(()=>{
                const box = document.getElementById("box-success-accept");

                box.style.visibility = "hidden";
            },2500);
        </script>
    }
    else if (stateRevert == 1)
    {
        <script>
            setTimeout(()=>{
                const box = document.getElementById("box-success-revert");

                box.style.visibility = "visible";
            },50);
            setTimeout(()=>{
                const box = document.getElementById("box-success-revert");

                box.style.visibility = "hidden";
            },2500);
        </script>
    }
    else if (stateAccept == -1)
    {
        <script>
            setTimeout(()=>{
                const box = document.getElementById("box-fail-accept");

                box.style.visibility = "visible";
            },50);
            setTimeout(()=>{
                const box = document.getElementById("box-fail-accept");

                box.style.visibility = "hidden";
            },2500);
        </script>
    }
    else if (stateRevert == -1)
    {
        <script>
            setTimeout(()=>{
                const box = document.getElementById("box-fail-revert");

                box.style.visibility = "visible";
            },50);
            setTimeout(()=>{
                const box = document.getElementById("box-fail-revert");

                box.style.visibility = "hidden";
            },25000);
        </script>
    }

}