@model LinkedHU_CENG.Models.Advertisement
@{
    ViewData["Title"] = "Advertisement";
    var isUserValid = ViewData["isBanUserValid"] as int?;
}


@{
    if (isUserValid == 1){
      <div class="container" style="margin-top:150px;">
          <form asp-action="Create" asp-controller="Advertisement" method="post">
              <div class="main-body">
                  <div class="row ">
                      <div class="col">
                          <div id="mySidenav" class="sidenav">
                            <input type="button"class="btn btn-secondary my-2 my-sm-0" style="width:180px;text-align:left;" value="Add Advertisement" onclick="@("window.location.href='" + @Url.Action("Create", "Advertisement") + "'");" />
                              <br>
                              <br>
                              <input type="button" class="btn btn-secondary my-2 my-sm-0" style="width:180px;text-align:left" value="My Applications" onclick="@("window.location.href='" + @Url.Action("Index", "Application") + "'");" />
                          </div>
                      </div>
                      <div class="col" style= "margin-left:-200px; width:1000px ">

                              <div class="col-sm-6 mb-3">
                                  <div class="container h-100"  style= "width:330px; margin-left:10px;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;background-color:#ffffff">
                                      <div class="card-body">
                                          <h6 align="center" ; class="align-items-center mb-3"><b>Add a New Advertisement</b></h6>
                                          <div class="card-aboutme col">
                                              <ul class="list-group list-group-flush">
                                                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                  <div class="form-group">
                                                      <label asp-for="Title" class="control-label"></label>
                                                      <input asp-for="Title" class="form-control" style="border:solid 0.5px #abb6c2; box-shadow: inset 2px 2px 2px 0px #ddd;" />
                                                      <span asp-validation-for="Title" class="text-danger"></span>
                                                </div>

                                                    <div class="form-group" align="center">
                                                        <div align="left"><label asp-for="Type" class="control-label"></label></div>

                                                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                                            <input type="radio" class="control-label btn-check " id="btnradio1" asp-for="Type" value="Scholarship" checked>
                                                            <label class="btn btn-outline-info" for="btnradio1">Scholarship</label>
                                                            <input type="radio" class="control-label btn-check " id="btnradio2" asp-for="Type" value="Internship" checked>
                                                            <label class="btn btn-outline-info" for="btnradio2">Internship</label>
                                                            <input type="radio" class="control-label btn-check " id="btnradio3" asp-for="Type" value="Job" checked>
                                                            <label class="btn btn-outline-info" for="btnradio3">Job</label>
                                                            <span asp-validation-for="Type" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Company" class="control-label"></label>
                                                        <input asp-for="Company" class="form-control"  style="border:solid 0.5px #abb6c2; box-shadow: inset 2px 2px 2px 0px #ddd;" />
                                                        <span asp-validation-for="Company" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Location" class="control-label"></label>
                                                        <input asp-for="Location" class="form-control"  style="border:solid 0.5px #abb6c2; box-shadow: inset 2px 2px 2px 0px #ddd;" />
                                                        <span asp-validation-for="Location" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="Description" class="control-label"></label>
                                                        <input asp-for="Description" class="form-control"  style="border:solid 0.5px #abb6c2; box-shadow: inset 2px 2px 2px 0px #ddd;height: 200px;" />
                                                        <span asp-validation-for="Description" class="text-danger"></span>
                                                    </div>
                                                    <br />
                                                    <div class="form-group">
                                                        <label class="control-label">Resume</label>
                                                        @Html.EditorFor(x => x.IsResume)
                                                    </div>
                                                    <br /><div class="form-group">
                                                        <label class="control-label">Certificates</label>
                                                        @Html.EditorFor(x => x.IsCertificates)
                                                    </div>
                                                    <br />
                                                    <div align="center" class="form-group" style="" width:400px; margin:0 auto;">
                                                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Share</button>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="container h-100">
                                <div class="card-body" style="background-color:#ffffff;box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                                    <h6 align="center" ; class="align-items-center mb-3"><b>My Advertisements</b></h6>
                                    @await Component.InvokeAsync("OwnedAdvertisementViewComponent")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <h2> It is not displayed because you have been banned.</h2>
    }
}